@import "~bootstrap/scss/bootstrap";
@import "../scss/common/common";

.app {
  font-family: Quicksand sans-serif !important;

  .app__right {
    margin-left: 290px;
    width: calc(100vw - 290px);
  }
}