
.test {

  .test2 {
    height: 300px;
  }

  .test1 {

    position: absolute;
    display: flex;
    transition: position 1s;
    bottom: 0;

    img {
      width: 60px;
      height: 60px;
      z-index: 1;
    }
  }

  .test3 {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    background: red;
  }

  &:hover {

    .test1 {
      bottom: 5px;
      img {
        z-index: 3;
        bottom: 10px;
      }
    }
  }
}