@font-face {
  font-family: "Inter";
  src: local("Inter"),
  url("./fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
  url("./fonts/Quicksand-Regular.ttf") format("truetype");
}

body {
  font-family: Quicksand, sans-serif !important;
  color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}