.sidebar {
  position: fixed;
  width: 290px;
  height: 100vh;
  top: 0;
  transition-duration: 0.9s;
  padding-top: 20px;
  background: wheat;

  .sidebar__logo {
    img {
      width: 180px;
      height: 108px;
    }

    .sidebar__logo__close__icon {
      margin-left: 10px;
    }
  }

  .sidebar__items {
    height: 250px;
    overflow-y: auto;

    .nav-item {
      border-bottom: 1px solid #f7f7f7;

      &:hover {
        background-color: #f7f7f7;

        a {
          color: #78cccd !important;
          text-decoration: underline;
        }
      }
    }

  }
}

.sidebar__open {
  left: 0;
}

.sidebar__close {
  left: -100%;
}